<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Michael's Cafe</title>

        <link rel="stylesheet" href="~/css/w3schools.css" />
        <link rel="stylesheet" href="~/css/Google_Amatic_Font.css" />
        <style>
            body, html {
                height: 100%;
            }

            body, h1, h2, h3, h4, h5, h6 {
                font-family: "Amatic SC", sans-serif;
            }

            .menu {
                display: none;
            }

            .menu-item--name {
                display: inline-block;
                text-align: left;
            }

            .menu-item--price {
                display: inline-block;
            }
        </style>
    </head>
    <body>
        <main>
            @RenderBody();
        </main>
        <footer class="w3-center w3-black w3-padding-48 w3-xxlarge">
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
        </footer>
    </body>
</html>