@model SoftwareEngineeringProject.Models.FullMenu;

@{
    ViewData["Title"] = "Home Page";
}

<!--Header for the Menu-->
<style>
    .bgimg {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(~/Views/Home/mc_bg_img.jpg); /*Cannot figure out the image*/
        min-height: 90%;
    }
</style>
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-bottomleft w3-padding">
        <span class="w3-tag w3-xlarge">Open weekdays from 7am to 4:30pm</span>
    </div>
    <div class="w3-display-middle w3-center">
        <span class="w3-text-white w3-hide-small" style="font-size:100px">Michael's<br />Café</span>
    </div>
</header>

@{ 
    for (int i = 0; i < Model.Length; i++)
    {
        <p>Hello</p><br />
    }
}


