
@{
    ViewData["Title"] = "Receipt";
}


<div class="w3-container w3-red w3-padding-64 w3-xxlarge">
    <div class="w3-content">

        <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">RECEIPT</h1>
        <div class="w3-row w3-center w3-border w3-border-dark-grey">
            <div class="w3-padding-large">
                <div class="w3-white">
					<p class="w3-text-grey w3-center">Michael's Café<br>!!!!DATE/TIME PLACEHOLDER!!!!<br>Order Name: !!!!NAME PLACEHOLDER!!!!</p>
					<hr>
                    <!-- Example Item Format -->
					<h1><b>Margherita</b> <span class="w3-right w3-tag w3-dark-grey w3-round">$12.50</span></h1>
					<hr>
					<!-- End of Example Item Format -->
                    @{
                        <!-- For loop here -->
                    }
					<!-- End Stub Format -->
					<h1><span class="w3-right w3-tag w3-dark-grey w3-round">Subtotal: $69.69<br>Tax: $4.20<br>Total: $666.69</span></h1>
					<hr>
                </div>
            </div>
        </div>
    </div>
</div>