
@{
    ViewData["Title"] = "Receipt";
}


<div class="w3-container w3-red w3-padding-64 w3-xxlarge">
    <div class="w3-content">

        <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">RECEIPT</h1>
        <div class="w3-row w3-center w3-border w3-border-dark-grey">
            <div class="w3-padding-large">
                <div class="w3-white">
                    <!-- Example Item Format -->
                    @{
                        <!--For loop here-->
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Return to Menu</a>
</div>